html, body {
  margin: 0;
  height: 100%;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 120%;
}

input {
  box-sizing: border-box;
}

/* Dual Column */

.dualcol {
  display: flex;
  align-items: stretch;
}

.dualcol > aside {
  width: 300px;
}

.dualcol > main {
  flex-grow: 1;
}

/* List */

.itemlist {
  border: 1px solid #CCC;
  border-bottom: 0;
}

.itemlist .item {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #CCC;
  color: #666;
  background-color: #FFF;
}

.itemlist .item .colorbox {
  display: inline-block;
  width: 1em;
  margin-right: .25em;
  vertical-align: bottom;
  height: 1em;
  background-color: currentColor;
  border: 1px solid rgba(0,0,0,0.3);
}

.itemlist .item:hover {
  background-color: #EFF;
}

.itemlist .item.active {
  color: #000;
  background-color: #CEF;
}

/* Profile */

#pbaseinfo {
  position: relative;
  padding-left: 60px;
}

#pcolor {
  position: absolute;
  left: 6px;
  top: 50%;
  width: 48px;
  height: 48px;
  margin-top: -24px;
}

#pname {
  font-size: 1.5em;
  display: block;
  width: 100%;
}

#pdescription {
  display: block;
  width: 100%;
}
